@import '../sass/utils/vars';
@import '../sass/utils/base';
@import '../sass/components/button';
@import '../sass/components/social-icons';
@import '../sass/components/_header.scss';
@import '../sass/components/bg';
@import '../sass/components/lorem-ipsum';
@import '../sass/components/about';
@import '../sass/components/team';
@import '../sass/components/clients';
@import '../sass/components/footer';
@import '../sass/components/portfoliobtns';
@import '../sass/components/portfoliocrds';
@import '../sass/components/modal'