.button {
  width: 200px;
  height: 50px;
  padding: 0;
  // padding: 10px 41px 10px 42px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: $blue;

  &--footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 108px;
    margin-left: 12px;

    & > svg {
      width: 24px;
      height: 24px;
      fill: #ffffff;
    }
  }
  &--modal {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  &--portfolio {
    width: auto;
    height: auto;
    padding: 6px 22px;
    margin: 4px;
    box-shadow: none;
    background-color: $button-gray;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: $font-gray;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $blue;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
