.client {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  // &__header {
  //   text-align: center;
  //   margin: 0 0 50px;
  //   font-weight: 700;
  //   font-size: 36px;
  //   line-height: 42px;
  //   letter-spacing: 0.03em;
  // }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid $icon-gray;
    fill: $icon-gray;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__box:hover,
  &__box:focus {
    fill: $blue;
    border: 1px solid $blue;
  }
  // &__box--bottom {
  //   margin: 0;
  // }
  // &__box:focus {
  //   fill: $blue;
  //   border: 1px solid $blue;
  // }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    &__box {
      width: 226px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .client {
    flex-wrap: nowrap;
    &__box {
      width: 170px;
    }
  }
}
