.js-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  overflow-x:hidden;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &__navigation {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-left: 40px;
  }
  &__item {
    padding-bottom: 32px;
  }
  &__link1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $font-gray;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link1:hover,
  &__link1:focus {
    color: $blue;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 306px;
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &__phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $blue;
    text-decoration: none;
    margin-bottom: 32px;
  }
  &__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $light-gray;
    text-decoration: none;
  }
  &__social {
    display: flex;
    padding-left: 40px;
    padding-bottom: 48px;
  }
  &__social-link {
    display: block;
    color: $blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    padding: 0 10px;
    border-right:1px solid rgba(33, 33, 33, 0.2);;
  }
  &__social-link:first-child {
    padding: 0 10px 0 0;
  }
  &__social-link:last-child {
    padding: 0 0 0 10px;
    border: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .js-menu-container {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .js-menu-container {
    display: none;
  }
}
