.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    margin: 0 0 30px 0;
  }
  &__item:nth-child(n + 7) {
    margin: 0;
  }
  &__card {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__card > figcaption {
    display: block;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
  }
  &__card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  &__card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  &__box {
    position: relative;
    overflow: hidden;
  }
  &__box:hover > .portfolio-cards__overlay {
    transform: translateY(0%);
  }

  &__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 49px 45px 49px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    color: white;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease;
  }
  &__card > figcaption {
    display: block;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
  }

  &__title {
    margin: 0;
    font-family: 'Roboto';
    color: $font-gray;
    padding: 20px 24px 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
  }
  &__description {
    margin: 0;
    font-family: 'Roboto';
    color: $light-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 0 24px 20px;
  }
}
