.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    padding-bottom: 35px;
  }
}
