.team {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  &__bg {
    background-color: $button-gray;
    margin: 0 auto;
  }
  &__box {
    padding: 0 0 30px;
  }
  &__box:last-child {
    padding: 0;
  }
  &__figure {
    width: 100%;
    margin: 0;
    // padding: 0 15px 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__picture {
    display: block;
    width: 100%;
  }

  &__figure-title {
    margin: 0;
    padding: 30px 24px 10px;
    font-family: 'Roboto';
    color: $font-gray;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 16px;
    letter-spacing: 0.06em;
  }
  &__figure-description {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    color: $light-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 0 24px 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__box {
      flex: 0 0 50%;
      &:nth-child(1) {
        padding: 0 15px 15px 0;
      }
      &:nth-child(2) {
        padding: 0 0 15px 15px;
      }
      &:nth-child(3) {
        padding: 15px 15px 0 0;
      }
      &:nth-child(4) {
        padding: 15px 0 0 15px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &__box {
      flex-basis: calc(100% / 4 - 30px);
      padding: 0;
      margin: 0 15px;
    }
  }
}
