.team {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 600px; */
  max-width: 1600px;
  margin: 0 auto;

  &__bg {
    background-color: $button-gray;
    margin: 0 auto;
  }
  // &__header {
  //   text-align: center;
  //   margin: 0 0 50px;
  //   font-weight: 700;
  //   font-size: 36px;
  //   line-height: 42px;
  //   letter-spacing: 0.03em;
  // }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    // margin: 0 auto;
  }
  &__box {
    padding: 0 15px 30px;
  }
  // &__box:first-child {
  // }
  &__box:last-child {
    padding-bottom: 0px;
  }
  &__figure {
    margin: 0;
    // padding: 0 15px 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__figure-title {
    margin: 0;
    padding: 30px 24px 10px;
    font-family: 'Roboto';
    color: $font-gray;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 16px;
    letter-spacing: 0.06em;
  }
  &__figure-description {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    color: $light-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 0 24px 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    &__list {
      justify-content: center;
    }
    &__box {
      &:nth-child(n + 3) {
        padding: 0 15px 0;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .team {
    &__list {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__box {
      padding: 0 15px 0;
    }
  }
}
