body {
  font-family: 'Roboto', sans-serif;
  color: $font-gray;
}
ul {
  padding: 0px;
  list-style-type: none;
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 60px 0;
  &--about {
    padding-top: 0;
  }
}
.section__header {
  text-align: center;
  margin: 0 0 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section {
    padding: 94px 0;
  }
}
